@font-face {
    font-family: 'FF Good Pro Cond';
    src: url('FFGoodProCond-Regular.eot');
    src: local('FF Good Pro Cond'), local('FFGoodProCond-Regular'),
        url('FFGoodProCond-Regular.eot?#iefix') format('embedded-opentype'),
        url('FFGoodProCond-Regular.woff2') format('woff2'),
        url('FFGoodProCond-Regular.woff') format('woff'),
        url('FFGoodProCond-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'FF Good Pro Cond';
    src: url('FFGoodProCond-Black.eot');
    src: local('FF Good Pro Cond Black'), local('FFGoodProCond-Black'),
        url('FFGoodProCond-Black.eot?#iefix') format('embedded-opentype'),
        url('FFGoodProCond-Black.woff2') format('woff2'),
        url('FFGoodProCond-Black.woff') format('woff'),
        url('FFGoodProCond-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'FF Good Pro Cond Ultra';
    src: url('FFGoodProCond-UltraItalic.eot');
    src: local('FF Good Pro Cond Ultra Italic'), local('FFGoodProCond-UltraItalic'),
        url('FFGoodProCond-UltraItalic.eot?#iefix') format('embedded-opentype'),
        url('FFGoodProCond-UltraItalic.woff2') format('woff2'),
        url('FFGoodProCond-UltraItalic.woff') format('woff'),
        url('FFGoodProCond-UltraItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FF Good Pro Cond News';
    src: url('FFGoodProCond-News.eot');
    src: local('FF Good Pro Cond News'), local('FFGoodProCond-News'),
        url('FFGoodProCond-News.eot?#iefix') format('embedded-opentype'),
        url('FFGoodProCond-News.woff2') format('woff2'),
        url('FFGoodProCond-News.woff') format('woff'),
        url('FFGoodProCond-News.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FF Good Pro Cond';
    src: url('FFGoodProCond-BoldItalic.eot');
    src: local('FF Good Pro Cond Bold Italic'), local('FFGoodProCond-BoldItalic'),
        url('FFGoodProCond-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('FFGoodProCond-BoldItalic.woff2') format('woff2'),
        url('FFGoodProCond-BoldItalic.woff') format('woff'),
        url('FFGoodProCond-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'FF Good Pro Cond';
    src: url('FFGoodProCond-LightItalic.eot');
    src: local('FF Good Pro Cond Light Italic'), local('FFGoodProCond-LightItalic'),
        url('FFGoodProCond-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('FFGoodProCond-LightItalic.woff2') format('woff2'),
        url('FFGoodProCond-LightItalic.woff') format('woff'),
        url('FFGoodProCond-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'FF Good Pro Cond News';
    src: url('FFGoodProCond-NewsItalic.eot');
    src: local('FF Good Pro Cond News Italic'), local('FFGoodProCond-NewsItalic'),
        url('FFGoodProCond-NewsItalic.eot?#iefix') format('embedded-opentype'),
        url('FFGoodProCond-NewsItalic.woff2') format('woff2'),
        url('FFGoodProCond-NewsItalic.woff') format('woff'),
        url('FFGoodProCond-NewsItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FF Good Pro Cond';
    src: url('FFGoodProCond-Italic.eot');
    src: local('FF Good Pro Cond Italic'), local('FFGoodProCond-Italic'),
        url('FFGoodProCond-Italic.eot?#iefix') format('embedded-opentype'),
        url('FFGoodProCond-Italic.woff2') format('woff2'),
        url('FFGoodProCond-Italic.woff') format('woff'),
        url('FFGoodProCond-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FF Good Pro Cond';
    src: url('FFGoodProCond-MediumItalic.eot');
    src: local('FF Good Pro Cond Medium Italic'), local('FFGoodProCond-MediumItalic'),
        url('FFGoodProCond-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('FFGoodProCond-MediumItalic.woff2') format('woff2'),
        url('FFGoodProCond-MediumItalic.woff') format('woff'),
        url('FFGoodProCond-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'FF Good Pro Cond';
    src: url('FFGoodProCond-Medium.eot');
    src: local('FF Good Pro Cond Medium'), local('FFGoodProCond-Medium'),
        url('FFGoodProCond-Medium.eot?#iefix') format('embedded-opentype'),
        url('FFGoodProCond-Medium.woff2') format('woff2'),
        url('FFGoodProCond-Medium.woff') format('woff'),
        url('FFGoodProCond-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FF Good Pro Cond';
    src: url('FFGoodProCond-Bold.eot');
    src: local('FF Good Pro Cond Bold'), local('FFGoodProCond-Bold'),
        url('FFGoodProCond-Bold.eot?#iefix') format('embedded-opentype'),
        url('FFGoodProCond-Bold.woff2') format('woff2'),
        url('FFGoodProCond-Bold.woff') format('woff'),
        url('FFGoodProCond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FF Good Pro Cond';
    src: url('FFGoodProCond-BlackItalic.eot');
    src: local('FF Good Pro Cond Black Italic'), local('FFGoodProCond-BlackItalic'),
        url('FFGoodProCond-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('FFGoodProCond-BlackItalic.woff2') format('woff2'),
        url('FFGoodProCond-BlackItalic.woff') format('woff'),
        url('FFGoodProCond-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'FF Good Pro Cond';
    src: url('FFGoodProCond-Light.eot');
    src: local('FF Good Pro Cond Light'), local('FFGoodProCond-Light'),
        url('FFGoodProCond-Light.eot?#iefix') format('embedded-opentype'),
        url('FFGoodProCond-Light.woff2') format('woff2'),
        url('FFGoodProCond-Light.woff') format('woff'),
        url('FFGoodProCond-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

